.maindiv {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.seconddiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}

.margin {
  margin-left: 5%;
}
